<div class="hbox hbox-auto-xs hbox-auto-sm" ng-controller="AddAnnouncmentController" ng-init="app.settings.container = false;">
  <div class="bg-light lter b-b wrapper-md">
    <h1 class="m-n font-thin h3">Add Announcment</h1>
  </div>
  <div class="wrapper-md">
    <div class="row">
      <div class="col-sm-12">
        <div class="panel panel-default">
          <div class="panel-heading font-bold">Announcment Information</div>
          <div class="panel-body">
            <form role="form" ng-submit="save()">
              <div class="form-group">
                <label>Title</label>
                <input type="text" class="form-control" ng-model="title" placeholder="Enter title">
              </div>
              <div class="form-group">
                <label>Text</label>
                <textarea class="form-control" ng-model="text" rows="3"></textarea>
              </div>
              <button type="submit" class="btn btn-sm btn-primary">Submit</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
