<div class="hbox hbox-auto-xs hbox-auto-sm" ng-controller="AnnouncmentController" ng-init="app.settings.container = false;">
  <div class="bg-light lter b-b wrapper-md">
    <h1 class="m-n font-thin h3">Announcments</h1>
  </div>
  <div class="wrapper-md">
    <div class="panel panel-default">
      <div class="panel-heading clearfix">
        Announcments List
        <div class="pull-right">
          <a ui-sref="app.addannouncment" class="btn btn-success">
            <i class="fa fa-plus-circle"></i>
            Add Announcment
          </a>
        </div>
      </div>
      <div class="table-responsive">
        <table class="table table-striped b-t b-b" id="announcments">
          <thead>
            <tr>
              <th>Title</th>
              <th>Date</th>
              <th>Likes</th>
              <th>Dislikes</th>
              <th>Author</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="announcment in announcments">
              <td>
                <a ui-sref="app.viewannouncment({id: announcment.id})">
                  {{announcment.title}}
                </a>
              </td>
              <td>{{announcment.date | date:'medium'}}</td>
              <td>{{announcment.nlikes}}</td>
              <td>{{announcment.ndislikes}}</td>
              <td>{{announcment.admin.userName}}</td>
              <td>
                <button class="btn btn-sm btn-danger" ng-click="deleteAnnouncment(announcment)">
                  <i class="fa fa-close"></i>
                </button>
                <a ui-sref="app.editannouncment({id: announcment.id})" class="btn btn-sm btn-info">
                  <i class="fa fa-pencil"></i>
                </a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
