<div class="hbox hbox-auto-xs hbox-auto-sm" ng-controller="EditPollController" ng-init="app.settings.container = false;">
  <div class="bg-light lter b-b wrapper-md">
    <h1 class="m-n font-thin h3">Edit Poll</h1>
  </div>
  <div class="wrapper-md">
    <div class="row">
      <div class="col-sm-12">
        <div class="panel panel-default">
          <div class="panel-heading font-bold">Poll Information</div>
          <div class="panel-body">
            <form role="form" ng-submit="update()">
              <div class="form-group">
                <label>Question</label>
                <input type="text" class="form-control" ng-model="questionText" placeholder="Enter title">
              </div>
              <div class="form-group">
                <label>Expiration Date</label>
                <input class="form-control" ng-model="expirationDate" datetime-picker date-format="dd/MM/yyyy HH:mm" placeholder="Pick Expiration Date"/>
              </div>
              <div class="form-group">
                <label>Question Type</label>
                <select class="form-control" ng-model="questionType" ng-options="type for type in questionTypes"></select>
              </div>
              <div class="form-group" ng-if="questionOptions">
                <label>Question Choices</label>
                <div class="row">
                  <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12" ng-repeat="option in questionOptions">
                    <label>{{option.label}}</label>
                    <input type="text" class="form-control" ng-model="option.text" placeholder="Choice Text">
                  </div>
                  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 m-t-10">
                    <button type="button" class="btn btn-info btn-sm" ng-click="addChoice()">
                      Add Choice
                    </button>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <label>
                  <input type="checkbox" ng-model="published"> Publish This Question
                </label>
              </div>
              <button type="submit" class="btn btn-sm btn-primary">Edit</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
