<div class="hbox hbox-auto-xs hbox-auto-sm" ng-controller="IdeaController" ng-init="app.settings.container = false;">
  <div class="bg-light lter b-b wrapper-md">
    <h1 class="m-n font-thin h3">Ideas</h1>

  </div>
  <div class="wrapper-md">
    <div class="panel panel-default">
      <div class="panel-heading clearfix">
        Ideas List
        <div class="pull-right">
          <a ui-sref="app.addidea" class="btn btn-success">
            <i class="fa fa-plus-circle"></i>
            Add Idea
          </a>
        </div>
      </div>
      <div class="table-responsive">
        <table class="table table-striped b-t b-b">
          <thead>
            <tr>
              <th>Title</th>
              <th>Date</th>
              <th>Rating</th>
              <th>Author</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="idea in ideas">
              <td>
                <a ui-sref="app.viewidea({id: idea.ideaKey})">
                  {{idea.title}}
                </a>
              </td>
              <td>{{idea.date | date:'medium'}}</td>
              <td>{{idea.overAllRate}}</td>
              <td>{{idea.user.userName}}</td>
              <td>
                <button class="btn btn-sm btn-danger" ng-click="deleteIdea(idea)">
                  <i class="fa fa-close"></i>
                </button>
                <a ui-sref="app.editidea({id: idea.ideaKey})" class="btn btn-sm btn-info">
                  <i class="fa fa-pencil"></i>
                </a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
