<div class="hbox hbox-auto-xs hbox-auto-sm" ng-controller="MainpageController" ng-init="app.settings.container = false;">
  <!-- main -->
  <div class="col">
    <!-- main header -->
    <div class="bg-light lter b-b wrapper-md">
      <div class="row">
        <div class="col-sm-6 col-xs-12">
          <h1 class="m-n font-thin h3 text-black">Dashboard</h1>
          <small class="text-muted">Welcome to Beeah Application</small>
        </div>
      </div>
    </div>
  </div>
  <!-- / main -->
</div>
