<div class="container w-xxl w-auto-xs" ng-controller="SigninFormController" ng-init="app.settings.container = false;">
  <!-- <img src="img/logo.png" class="signin-logo" alt=""> -->
  <a href class="navbar-brand block m-t m-t-50">
    <img src="img/logo.png" class="signin-logo" alt="">
  </a>
  <div class="m-b-lg m-t-50 m-b-50">
    <div class="wrapper text-center">
      <strong>Sign in with your Bee'ah Account</strong>
    </div>
      <div class="text-danger wrapper text-center" ng-if="authError">
          {{authError}}
      </div>

      <button type="button" class="btn btn-lg btn-primary btn-block btn-google-login" ng-click="googleLogin()">
        <span>
          <i class="fa fa-google-plus"></i>
          Sign in with Google
      </button>
      <div class="line line-dashed"></div>
  </div>
  <div class="text-center" ng-include="'tpl/blocks/page_footer.html'">
    {% include 'blocks/page_footer.html' %}
  </div>
</div>
