<div class="hbox hbox-auto-xs hbox-auto-sm" ng-controller="PollController" ng-init="app.settings.container = false;">
  <div class="bg-light lter b-b wrapper-md">
    <h1 class="m-n font-thin h3">Polls</h1>

  </div>
  <div class="wrapper-md">
    <div class="panel panel-default">
      <div class="panel-heading clearfix">
        Polls List
        <div class="pull-right">
          <a ui-sref="app.addpoll" class="btn btn-success">
            <i class="fa fa-plus-circle"></i>
            Add Poll
          </a>
        </div>
      </div>
      <div class="table-responsive">
        <table class="table table-striped b-t b-b">
          <thead>
            <tr>
              <th>Question</th>
              <th>Created</th>
              <th>Expire</th>
              <th>Responses</th>
              <th>Published</th>
              <th>Author</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="poll in polls">
              <td>
                <a ui-sref="app.viewpoll({id: poll.pollKey})">
                  {{poll.questionText}}
                </a>
              </td>
              <td>{{poll.creationDate | date:'medium'}}</td>
              <td>{{poll.expirationDate | date:'medium'}}</td>
              <td>{{poll.responsesNo}}</td>
              <td>{{poll.published}}</td>
              <td>{{poll.admin.userName}}</td>
              <td>
                <button class="btn btn-sm btn-danger" ng-click="deletePoll(poll)">
                  <i class="fa fa-close"></i>
                </button>
                <a ui-sref="app.editpoll({id: poll.pollKey})" class="btn btn-sm btn-info">
                  <i class="fa fa-pencil"></i>
                </a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
