<div class="hbox hbox-auto-xs hbox-auto-sm" ng-controller="ViewIdeaController" ng-init="app.settings.container = false;">
  <div class="bg-light lter b-b wrapper-md">
    <h1 class="m-n font-thin h3">View Idea</h1>
  </div>
  <div class="wrapper-md">
    <div class="panel panel-default">
      <div class="panel-heading clearfix">
        Idea Information
      </div>
      <div class="item-card clearfix">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <h2 class="card-title">
            {{idea.title}}
            <span class="overall-rating">
              <i class="fa fa-star"></i>
              {{idea.overAllRate}}
            </span>
          </h2>
          <p class="card-info">
            <span class="item-key">
              Idea Key:
              {{idea.key}}
            </span>
            <span class="card-date">
              , Publish Date:
              {{idea.sortDate | date:'medium'}}
            </span>
            <span class="card-author">
              By:
              {{idea.user.userName}}
            </span>
          </p>
          <p class="card-info">

          </p>
          <p class="card-description">{{idea.description}}</p>
        </div>
      </div>
    </div>
  </div>
</div>
