<div class="hbox hbox-auto-xs hbox-auto-sm" ng-controller="ViewPollController" ng-init="app.settings.container = false;">
  <div class="bg-light lter b-b wrapper-md">
    <h1 class="m-n font-thin h3">View Poll</h1>
  </div>
  <div class="wrapper-md">
    <div class="panel panel-default">
      <div class="panel-heading clearfix">
        Poll Information
      </div>
      <div class="item-card clearfix">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <h2 class="card-title">
            {{poll.questionText}}
          </h2>
          <p class="card-info">
            <span class="item-key">
              Poll Key:
              {{poll.key}}
            </span>
            <span class="card-date">
              , Creation Date:
              {{poll.creationDate | date:'medium'}}
            </span>
            <span class="card-author">
              By:
              {{poll.admin.userName}}
            </span>
          </p>
          <p class="card-info">
            <span class="card-exdate">
              Expiration Date:
              {{poll.expirationDate | date:'medium'}}
            </span>
          </p>
          <p class="card-info">
            <span class="question-type">
              Question Type:
              {{poll.pollType}}
            </span>
          </p>
          <p class="card-options">
            <div class="col wrapper-lg w-lg bg-light r-r">
              <ul class="options-list list-unstyled">
                <li ng-repeat="option in optionsList">
                  <p>
                    {{option.label}}
                    <span class="pull-right text-info">{{option.nAnswersPercentageFormat}}</span>
                  </p>
                  <p>
                    <strong>
                      {{option.text}}
                    </strong>
                  </p>
                  <div class="progress progress-xs m-t-sm bg-white">
                    <div class="progress-bar bg-info" data-toggle="tooltip"
                    data-original-title="{{option.nAnswersPercentageFormat}}"
                    style="width: {{option.nAnswersPercentageFormat}}">
                    </div>
                  </div>
                </li>
              </ul>
            </div>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
