<div class="hbox hbox-auto-xs hbox-auto-sm" ng-controller="ViewAnnouncmentController" ng-init="app.settings.container = false;">
  <div class="bg-light lter b-b wrapper-md">
    <h1 class="m-n font-thin h3">View Announcment</h1>
  </div>
  <div class="wrapper-md">
    <div class="panel panel-default">
      <div class="panel-heading clearfix">
        Announcment Information
      </div>
      <div class="item-card clearfix">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <h2 class="card-title">
            {{announcment.title}}
            <span class="overall-likes">
              <i class="fa fa-thumbs-up"></i>
              {{announcment.nlikes}}
            </span>
            <span class="overall-dislikes">
              <i class="fa fa-thumbs-down"></i>
              {{announcment.ndislikes}}
            </span>
          </h2>
          <p class="card-info">
            <span class="item-key">
              Idea Key:
              {{announcment.key}}
            </span>
            <span class="card-date">
              , Publish Date:
              {{announcment.date | date:'medium'}}
            </span>
            <span class="card-author">
              By:
              {{announcment.admin.userName}}
            </span>
          </p>
          <p class="card-info">

          </p>
          <p class="card-description">{{announcment.text}}</p>
        </div>
      </div>
    </div>
  </div>
</div>
