<!-- list -->
<ul class="nav">
  <li class="hidden-folded padder m-t m-b-sm text-muted text-xs">
    <span>Navigation</span>
  </li>

  <li ui-sref-active="active">
    <a ui-sref="app.landing">
      <i class="fa fa-home"></i>
      <span class="font-bold">Dashboard</span>
    </a>
  </li>

  <li ui-sref-active="active">
    <a ui-sref="app.announcment">
      <i class="fa fa-bullhorn"></i>
      <span class="font-bold">Announcments</span>
    </a>
  </li>

  <li ui-sref-active="active">
    <a ui-sref="app.idea">
      <i class="fa fa-lightbulb-o"></i>
      <span class="font-bold">Ideas</span>
    </a>
  </li>

  <li ui-sref-active="active">
    <a ui-sref="app.poll">
      <i class="fa fa-file-text"></i>
      <span class="font-bold">Polls</span>
    </a>
  </li>

  <li ui-sref-active="active">
    <a ui-sref="app.question">
      <i class="fa fa-question"></i>
      <span class="font-bold">Daily Questions</span>
    </a>
  </li>

  <li ui-sref-active="active">
    <a ui-sref="app.user">
      <i class="fa fa-users"></i>
      <span class="font-bold">Users</span>
    </a>
  </li>

  <li ui-sref-active="active">
    <a ui-sref="app.report">
      <i class="fa fa-bar-chart"></i>
      <span class="font-bold">Reports</span>
    </a>
  </li>

  <!-- <li class="line dk"></li> -->
</ul>
<!-- / list -->
