/*

*/

.pull-left {
  float: right !important;
}

.pull-right {
  float: left !important;
}

.text-right {
  text-align: left;
}

.text-left {
  text-align: right;
}

.navbar-left {
  float: right !important;
}

.navbar-right {
  float: left !important;
}

.m-l-none {
  margin-right: 0 !important;
}

.m-l-xs {
  margin-right: 5px !important;
  margin-left: 0;
}

.m-l-sm {
  margin-right: 10px !important;
  margin-left: 0;
}

.m-l {
  margin-right: 15px !important;
  margin-left: 0;
}

.m-l-md {
  margin-right: 20px !important;
  margin-left: 0;
}

.m-l-lg {
  margin-right: 30px !important;
  margin-left: 0;
}

.m-l-xl {
  margin-right: 40px !important;
  margin-left: 0;
}

.m-l-xxl {
  margin-right: 50px !important;
  margin-left: 0;
}

.m-r-xxs {
  margin-right: 0;
  margin-left: 1px !important;
}

.m-r-xs {
  margin-right: 0;
  margin-left: 5px !important;
}

.m-r-sm {
  margin-right: 0;
  margin-left: 10px !important;
}

.m-r {
  margin-right: 0;
  margin-left: 15px !important;
}

.m-r-md {
  margin-right: 0;
  margin-left: 20px !important;
}

.m-r-lg {
  margin-right: 0;
  margin-left: 30px !important;
}

.m-r-xl {
  margin-right: 0;
  margin-left: 40px !important;
}

.m-r-xxl {
  margin-right: 0;
  margin-left: 50px !important;
}

.navi ul.nav li a > i {
  float: right;
  margin-right: -10px;
  margin-left: 5px;
}

.app-aside {
  float: right;
}

@media (min-width: 768px) {
  .navbar-collapse,
  .app-content,
  .app-footer {
    margin-right: 200px;
    margin-left: auto;
  }
  .app-aside-right {
    right: auto;
    left: 0;
  }
  .app-aside-folded .navbar-collapse,
  .app-aside-folded .app-content,
  .app-aside-folded .app-footer {
    margin-right: 60px;
    margin-left: auto;
  }
  .app-aside-folded .navi > ul > li > ul {
    right: 100%;
    left: auto;
  }
  .app-aside-fixed .aside-wrap {
    right: inherit;
    bottom: 0;
    left: auto;
  }
  .app-aside-folded.app-aside-fixed .app-aside > ul.nav {
    right: 60px;
    left: auto;
  }
  .app-aside-folded.app-aside-fixed .app-aside > ul.nav:before {
    right: -60px;
    left: auto;
  }
  .app-aside-folded:not(.app-aside-dock) .navi ul.nav li a > i {
    margin: 0;
  }
  .app-aside-dock .app-aside nav > .nav {
    float: right;
  }
  .app-aside-dock .app-aside .navi > ul > li {
    float: right;
  }
  .app-aside-dock .app-aside .navi > ul > li .nav-sub {
    right: 0;
    left: auto;
  }
}

@media (max-width: 767px) {
  .off-screen + * {
    -webkit-transform: translate3d(-75%, 0, 0px);
            transform: translate3d(-75%, 0, 0px);
  }
}

.streamline {
  border-right-style: solid;
  border-right-width: 1px;
  border-left-width: 0;
}

.streamline .sl-item:after,
.streamline:after {
  right: 0;
  left: auto;
  margin-right: -5px;
}

.streamline .m-l-n-md {
  margin-right: -20px;
}

.streamline .arrow.left {
  top: 50%;
  right: -9px;
  margin-top: -9px;
  border-left-color: rgba(0, 0, 0, 0.1);
  border-right-width: 0;
  border-left-width: 9px;
}

.streamline .arrow.left:after {
  right: 1px;
  bottom: -8px;
  border-left-color: #ffffff;
  border-right-width: 0;
  border-left-width: 8px;
}

.sl-item.b-l {
  margin-right: -1px;
  border-right-style: solid;
  border-right-width: 1px;
  border-left-width: 0;
}

.tl-wrap {
  padding: 15px 20px 15px 0;
  margin-right: 6em;
  margin-left: 0;
  border-width: 0 4px 0 0;
}

.tl-wrap:before {
  float: right;
  margin-right: -27px;
}

.timeline-center .tl-item {
  margin-right: 50%;
  margin-left: 0;
}

.timeline-center .tl-wrap {
  margin-right: -2px !important;
}

.tl-date {
  float: right;
  margin-right: -7.5em;
  text-align: left;
}

.i-checks > i {
  margin-right: -20px;
  margin-left: 4px;
}

.nav-tabs > li > a {
  margin-right: 0;
}

.settings {
  right: auto;
  left: -240px;
}

.settings .btn {
  right: -42px;
  left: auto;
  border-right-width: 1px;
  border-left-width: 0;
}

.settings.active {
  right: auto;
  left: -1px;
}