/*

*/

[md-ink-ripple] {
  position: relative;
}

.i-24 {
  font-size: 24px;
  vertical-align: -23%;
}

.md-btn {
  position: relative;
  display: inline-block;
  padding: 6px;
  overflow: hidden;
  font-family: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: bold;
  line-height: inherit;
  color: currentColor;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  white-space: nowrap;
  cursor: pointer;
  background: transparent;
  border: 0;
  border-radius: 3px;
  outline: none;
  transition: box-shadow 0.4s cubic-bezier(0.25, 0.8, 0.25, 1), background-color 0.4s cubic-bezier(0.25, 0.8, 0.25, 1), -webkit-transform 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
  transition: box-shadow 0.4s cubic-bezier(0.25, 0.8, 0.25, 1), background-color 0.4s cubic-bezier(0.25, 0.8, 0.25, 1), transform 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  font-variant: inherit;
}

.md-btn.md-flat:not([disabled]):hover,
.md-btn.md-flat:not([disabled]):focus {
  background-color: rgba(158, 158, 158, 0.2);
}

.md-btn-circle {
  width: 28px;
  height: 28px;
  border-radius: 50%;
}

.md-btn[disabled],
.md-btn.md-raised[disabled],
.md-btn.md-fab[disabled] {
  color: rgba(0, 0, 0, 0.26);
  cursor: not-allowed;
  background-color: transparent;
}

.md-fab {
  line-height: 44px;
}

.md-fab-offset {
  margin-top: -28px;
  margin-bottom: -28px;
}

.md-btn:focus {
  outline: none;
}

.md-btn:hover {
  text-decoration: none;
}

.md-btn.md-cornered {
  border-radius: 0;
}

.md-btn.md-icon {
  padding: 0;
  background: none;
}

.md-btn.md-raised {
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}

.md-btn.md-fab {
  z-index: 20;
  width: 56px;
  height: 56px;
  overflow: hidden;
  border-radius: 50%;
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
  transition: 0.2s linear;
  transition-property: -webkit-transform, box-shadow;
  transition-property: transform, box-shadow;
}

.md-btn.md-raised:not([disabled]),
.md-btn.md-fab {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
}

.md-btn.md-raised:not([disabled]):focus,
.md-btn.md-raised:not([disabled]):hover,
.md-btn.md-fab:not([disabled]):focus,
.md-btn.md-fab:not([disabled]):hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4);
}

.md-btn.md-fab.md-fab-bottom-right {
  position: absolute;
  top: auto;
  right: 20px;
  bottom: 20px;
  left: auto;
}

.md-btn.md-fab.md-fab-bottom-left {
  position: absolute;
  top: auto;
  right: auto;
  bottom: 20px;
  left: 20px;
}

.md-btn.md-fab.md-fab-top-right {
  position: absolute;
  top: 20px;
  right: 20px;
  bottom: auto;
  left: auto;
}

.md-btn.md-fab.md-fab-top-left {
  position: absolute;
  top: 20px;
  right: auto;
  bottom: auto;
  left: 20px;
}

.md-btn.md-fab md-icon {
  margin-top: 0;
}

.md-btn.md-fab.md-mini {
  width: 40px;
  height: 40px;
}

.md-btn:not([disabled]).md-raised:focus,
.md-btn:not([disabled]).md-raised:hover,
.md-btn:not([disabled]).md-fab:focus,
.md-btn:not([disabled]).md-fab:hover {
  -webkit-transform: translate3d(0, -1px, 0);
          transform: translate3d(0, -1px, 0);
}

.md-toast-open-top .md-btn.md-fab-top-left,
.md-toast-open-top .md-btn.md-fab-top-right {
  -webkit-transform: translate3d(0, 42px, 0);
          transform: translate3d(0, 42px, 0);
}

.md-toast-open-top .md-btn.md-fab-top-left:not([disabled]):focus,
.md-toast-open-top .md-btn.md-fab-top-left:not([disabled]):hover,
.md-toast-open-top .md-btn.md-fab-top-right:not([disabled]):focus,
.md-toast-open-top .md-btn.md-fab-top-right:not([disabled]):hover {
  -webkit-transform: translate3d(0, 41px, 0);
          transform: translate3d(0, 41px, 0);
}

.md-toast-open-bottom .md-btn.md-fab-bottom-left,
.md-toast-open-bottom .md-btn.md-fab-bottom-right {
  -webkit-transform: translate3d(0, -42px, 0);
          transform: translate3d(0, -42px, 0);
}

.md-toast-open-bottom .md-btn.md-fab-bottom-left:not([disabled]):focus,
.md-toast-open-bottom .md-btn.md-fab-bottom-left:not([disabled]):hover,
.md-toast-open-bottom .md-btn.md-fab-bottom-right:not([disabled]):focus,
.md-toast-open-bottom .md-btn.md-fab-bottom-right:not([disabled]):hover {
  -webkit-transform: translate3d(0, -43px, 0);
          transform: translate3d(0, -43px, 0);
}

.card {
  position: relative;
  margin-bottom: 24px;
  background-color: #fff;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
          box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
}

.card-heading {
  position: relative;
  padding: 20px 24px;
}

.card-heading h2 {
  margin: 0;
  font-size: 18px;
}

.card-heading small {
  display: block;
  margin-top: 8px;
  opacity: 0.5;
}

.card-body {
  padding: 20px 24px;
}

.card-divider {
  margin: 0 24px;
  border-bottom: 1px solid rgba(110, 115, 120, 0.15);
}

.card-tools {
  position: absolute;
  top: 12px;
  right: 12px;
}

.red {
  background-color: #f44336;
}

.red-50 {
  background-color: #ffebee;
}

.red-100 {
  background-color: #ffcdd2;
}

.red-200 {
  background-color: #ef9a9a;
}

.red-300 {
  background-color: #e57373;
}

.red-400 {
  background-color: #ef5350;
}

.red-500 {
  background-color: #f44336;
}

.red-600 {
  background-color: #e53935;
}

.red-700 {
  background-color: #d32f2f;
}

.red-800 {
  background-color: #c62828;
}

.red-900 {
  background-color: #b71c1c;
}

.red-A100 {
  background-color: #ff8a80;
}

.red-A200 {
  background-color: #ff5252;
}

.red-A400 {
  background-color: #ff1744;
}

.red-A700 {
  background-color: #d50000;
}

.pink {
  background-color: #e91e63;
}

.pink-50 {
  background-color: #fce4ec;
}

.pink-100 {
  background-color: #f8bbd0;
}

.pink-200 {
  background-color: #f48fb1;
}

.pink-300 {
  background-color: #f06292;
}

.pink-400 {
  background-color: #ec407a;
}

.pink-500 {
  background-color: #e91e63;
}

.pink-600 {
  background-color: #d81b60;
}

.pink-700 {
  background-color: #c2185b;
}

.pink-800 {
  background-color: #ad1457;
}

.pink-900 {
  background-color: #880e4f;
}

.pink-A100 {
  background-color: #ff80ab;
}

.pink-A200 {
  background-color: #ff4081;
}

.pink-A400 {
  background-color: #f50057;
}

.pink-A700 {
  background-color: #c51162;
}

.purple {
  background-color: #9c27b0;
}

.purple-50 {
  background-color: #f3e5f5;
}

.purple-100 {
  background-color: #e1bee7;
}

.purple-200 {
  background-color: #ce93d8;
}

.purple-300 {
  background-color: #ba68c8;
}

.purple-400 {
  background-color: #ab47bc;
}

.purple-500 {
  background-color: #9c27b0;
}

.purple-600 {
  background-color: #8e24aa;
}

.purple-700 {
  background-color: #7b1fa2;
}

.purple-800 {
  background-color: #6a1b9a;
}

.purple-900 {
  background-color: #4a148c;
}

.purple-A100 {
  background-color: #ea80fc;
}

.purple-A200 {
  background-color: #e040fb;
}

.purple-A400 {
  background-color: #d500f9;
}

.purple-A700 {
  background-color: #aa00ff;
}

.deep-purple {
  background-color: #673ab7;
}

.deep-purple-50 {
  background-color: #ede7f6;
}

.deep-purple-100 {
  background-color: #d1c4e9;
}

.deep-purple-200 {
  background-color: #b39ddb;
}

.deep-purple-300 {
  background-color: #9575cd;
}

.deep-purple-400 {
  background-color: #7e57c2;
}

.deep-purple-500 {
  background-color: #673ab7;
}

.deep-purple-600 {
  background-color: #5e35b1;
}

.deep-purple-700 {
  background-color: #512da8;
}

.deep-purple-800 {
  background-color: #4527a0;
}

.deep-purple-900 {
  background-color: #311b92;
}

.deep-purple-A100 {
  background-color: #b388ff;
}

.deep-purple-A200 {
  background-color: #7c4dff;
}

.deep-purple-A400 {
  background-color: #651fff;
}

.deep-purple-A700 {
  background-color: #6200ea;
}

.indigo {
  background-color: #3f51b5;
}

.indigo-50 {
  background-color: #e8eaf6;
}

.indigo-100 {
  background-color: #c5cae9;
}

.indigo-200 {
  background-color: #9fa8da;
}

.indigo-300 {
  background-color: #7986cb;
}

.indigo-400 {
  background-color: #5c6bc0;
}

.indigo-500 {
  background-color: #3f51b5;
}

.indigo-600 {
  background-color: #3949ab;
}

.indigo-700 {
  background-color: #303f9f;
}

.indigo-800 {
  background-color: #283593;
}

.indigo-900 {
  background-color: #1a237e;
}

.indigo-A100 {
  background-color: #8c9eff;
}

.indigo-A200 {
  background-color: #536dfe;
}

.indigo-A400 {
  background-color: #3d5afe;
}

.indigo-A700 {
  background-color: #304ffe;
}

.blue {
  background-color: #2196f3;
}

.blue-50 {
  background-color: #e3f2fd;
}

.blue-100 {
  background-color: #bbdefb;
}

.blue-200 {
  background-color: #90caf9;
}

.blue-300 {
  background-color: #64b5f6;
}

.blue-400 {
  background-color: #42a5f5;
}

.blue-500 {
  background-color: #2196f3;
}

.blue-600 {
  background-color: #1e88e5;
}

.blue-700 {
  background-color: #1976d2;
}

.blue-800 {
  background-color: #1565c0;
}

.blue-900 {
  background-color: #0d47a1;
}

.blue-A100 {
  background-color: #82b1ff;
}

.blue-A200 {
  background-color: #448aff;
}

.blue-A400 {
  background-color: #2979ff;
}

.blue-A700 {
  background-color: #2962ff;
}

.light-blue {
  background-color: #03a9f4;
}

.light-blue-50 {
  background-color: #e1f5fe;
}

.light-blue-100 {
  background-color: #b3e5fc;
}

.light-blue-200 {
  background-color: #81d4fa;
}

.light-blue-300 {
  background-color: #4fc3f7;
}

.light-blue-400 {
  background-color: #29b6f6;
}

.light-blue-500 {
  background-color: #03a9f4;
}

.light-blue-600 {
  background-color: #039be5;
}

.light-blue-700 {
  background-color: #0288d1;
}

.light-blue-800 {
  background-color: #0277bd;
}

.light-blue-900 {
  background-color: #01579b;
}

.light-blue-A100 {
  background-color: #80d8ff;
}

.light-blue-A200 {
  background-color: #40c4ff;
}

.light-blue-A400 {
  background-color: #00b0ff;
}

.light-blue-A700 {
  background-color: #0091ea;
}

.cyan {
  background-color: #00bcd4;
}

.cyan-50 {
  background-color: #e0f7fa;
}

.cyan-100 {
  background-color: #b2ebf2;
}

.cyan-200 {
  background-color: #80deea;
}

.cyan-300 {
  background-color: #4dd0e1;
}

.cyan-400 {
  background-color: #26c6da;
}

.cyan-500 {
  background-color: #00bcd4;
}

.cyan-600 {
  background-color: #00acc1;
}

.cyan-700 {
  background-color: #0097a7;
}

.cyan-800 {
  background-color: #00838f;
}

.cyan-900 {
  background-color: #006064;
}

.cyan-A100 {
  background-color: #84ffff;
}

.cyan-A200 {
  background-color: #18ffff;
}

.cyan-A400 {
  background-color: #00e5ff;
}

.cyan-A700 {
  background-color: #00b8d4;
}

.teal {
  background-color: #009688;
}

.teal-50 {
  background-color: #e0f2f1;
}

.teal-100 {
  background-color: #b2dfdb;
}

.teal-200 {
  background-color: #80cbc4;
}

.teal-300 {
  background-color: #4db6ac;
}

.teal-400 {
  background-color: #26a69a;
}

.teal-500 {
  background-color: #009688;
}

.teal-600 {
  background-color: #00897b;
}

.teal-700 {
  background-color: #00796b;
}

.teal-800 {
  background-color: #00695c;
}

.teal-900 {
  background-color: #004d40;
}

.teal-A100 {
  background-color: #a7ffeb;
}

.teal-A200 {
  background-color: #64ffda;
}

.teal-A400 {
  background-color: #1de9b6;
}

.teal-A700 {
  background-color: #00bfa5;
}

.green {
  background-color: #4caf50;
}

.green-50 {
  background-color: #e8f5e9;
}

.green-100 {
  background-color: #c8e6c9;
}

.green-200 {
  background-color: #a5d6a7;
}

.green-300 {
  background-color: #81c784;
}

.green-400 {
  background-color: #66bb6a;
}

.green-500 {
  background-color: #4caf50;
}

.green-600 {
  background-color: #43a047;
}

.green-700 {
  background-color: #388e3c;
}

.green-800 {
  background-color: #2e7d32;
}

.green-900 {
  background-color: #1b5e20;
}

.green-A100 {
  background-color: #b9f6ca;
}

.green-A200 {
  background-color: #69f0ae;
}

.green-A400 {
  background-color: #00e676;
}

.green-A700 {
  background-color: #00c853;
}

.light-green {
  background-color: #8bc34a;
}

.light-green-50 {
  background-color: #f1f8e9;
}

.light-green-100 {
  background-color: #dcedc8;
}

.light-green-200 {
  background-color: #c5e1a5;
}

.light-green-300 {
  background-color: #aed581;
}

.light-green-400 {
  background-color: #9ccc65;
}

.light-green-500 {
  background-color: #8bc34a;
}

.light-green-600 {
  background-color: #7cb342;
}

.light-green-700 {
  background-color: #689f38;
}

.light-green-800 {
  background-color: #558b2f;
}

.light-green-900 {
  background-color: #33691e;
}

.light-green-A100 {
  background-color: #ccff90;
}

.light-green-A200 {
  background-color: #b2ff59;
}

.light-green-A400 {
  background-color: #76ff03;
}

.light-green-A700 {
  background-color: #64dd17;
}

.lime {
  background-color: #cddc39;
}

.lime-50 {
  background-color: #f9fbe7;
}

.lime-100 {
  background-color: #f0f4c3;
}

.lime-200 {
  background-color: #e6ee9c;
}

.lime-300 {
  background-color: #dce775;
}

.lime-400 {
  background-color: #d4e157;
}

.lime-500 {
  background-color: #cddc39;
}

.lime-600 {
  background-color: #c0ca33;
}

.lime-700 {
  background-color: #afb42b;
}

.lime-800 {
  background-color: #9e9d24;
}

.lime-900 {
  background-color: #827717;
}

.lime-A100 {
  background-color: #f4ff81;
}

.lime-A200 {
  background-color: #eeff41;
}

.lime-A400 {
  background-color: #c6ff00;
}

.lime-A700 {
  background-color: #aeea00;
}

.yellow {
  background-color: #ffeb3b;
}

.yellow-50 {
  background-color: #fffde7;
}

.yellow-100 {
  background-color: #fff9c4;
}

.yellow-200 {
  background-color: #fff59d;
}

.yellow-300 {
  background-color: #fff176;
}

.yellow-400 {
  background-color: #ffee58;
}

.yellow-500 {
  background-color: #ffeb3b;
}

.yellow-600 {
  background-color: #fdd835;
}

.yellow-700 {
  background-color: #fbc02d;
}

.yellow-800 {
  background-color: #f9a825;
}

.yellow-900 {
  background-color: #f57f17;
}

.yellow-A100 {
  background-color: #ffff8d;
}

.yellow-A200 {
  background-color: #ffff00;
}

.yellow-A400 {
  background-color: #ffea00;
}

.yellow-A700 {
  background-color: #ffd600;
}

.amber {
  background-color: #ffc107;
}

.amber-50 {
  background-color: #fff8e1;
}

.amber-100 {
  background-color: #ffecb3;
}

.amber-200 {
  background-color: #ffe082;
}

.amber-300 {
  background-color: #ffd54f;
}

.amber-400 {
  background-color: #ffca28;
}

.amber-500 {
  background-color: #ffc107;
}

.amber-600 {
  background-color: #ffb300;
}

.amber-700 {
  background-color: #ffa000;
}

.amber-800 {
  background-color: #ff8f00;
}

.amber-900 {
  background-color: #ff6f00;
}

.amber-A100 {
  background-color: #ffe57f;
}

.amber-A200 {
  background-color: #ffd740;
}

.amber-A400 {
  background-color: #ffc400;
}

.amber-A700 {
  background-color: #ffab00;
}

.orange {
  background-color: #ff9800;
}

.orange-50 {
  background-color: #fff3e0;
}

.orange-100 {
  background-color: #ffe0b2;
}

.orange-200 {
  background-color: #ffcc80;
}

.orange-300 {
  background-color: #ffb74d;
}

.orange-400 {
  background-color: #ffa726;
}

.orange-500 {
  background-color: #ff9800;
}

.orange-600 {
  background-color: #fb8c00;
}

.orange-700 {
  background-color: #f57c00;
}

.orange-800 {
  background-color: #ef6c00;
}

.orange-900 {
  background-color: #e65100;
}

.orange-A100 {
  background-color: #ffd180;
}

.orange-A200 {
  background-color: #ffab40;
}

.orange-A400 {
  background-color: #ff9100;
}

.orange-A700 {
  background-color: #ff6d00;
}

.deep-orange {
  background-color: #ff5722;
}

.deep-orange-50 {
  background-color: #fbe9e7;
}

.deep-orange-100 {
  background-color: #ffccbc;
}

.deep-orange-200 {
  background-color: #ffab91;
}

.deep-orange-300 {
  background-color: #ff8a65;
}

.deep-orange-400 {
  background-color: #ff7043;
}

.deep-orange-500 {
  background-color: #ff5722;
}

.deep-orange-600 {
  background-color: #f4511e;
}

.deep-orange-700 {
  background-color: #e64a19;
}

.deep-orange-800 {
  background-color: #d84315;
}

.deep-orange-900 {
  background-color: #bf360c;
}

.deep-orange-A100 {
  background-color: #ff9e80;
}

.deep-orange-A200 {
  background-color: #ff6e40;
}

.deep-orange-A400 {
  background-color: #ff3d00;
}

.deep-orange-A700 {
  background-color: #dd2c00;
}

.brown {
  background-color: #795548;
}

.brown-50 {
  background-color: #efebe9;
}

.brown-100 {
  background-color: #d7ccc8;
}

.brown-200 {
  background-color: #bcaaa4;
}

.brown-300 {
  background-color: #a1887f;
}

.brown-400 {
  background-color: #8d6e63;
}

.brown-500 {
  background-color: #795548;
}

.brown-600 {
  background-color: #6d4c41;
}

.brown-700 {
  background-color: #5d4037;
}

.brown-800 {
  background-color: #4e342e;
}

.brown-900 {
  background-color: #3e2723;
}

.blue-grey {
  background-color: #607d8b;
}

.blue-grey-50 {
  background-color: #eceff1;
}

.blue-grey-100 {
  background-color: #cfd8dc;
}

.blue-grey-200 {
  background-color: #b0bec5;
}

.blue-grey-300 {
  background-color: #90a4ae;
}

.blue-grey-400 {
  background-color: #78909c;
}

.blue-grey-500 {
  background-color: #607d8b;
}

.blue-grey-600 {
  background-color: #546e7a;
}

.blue-grey-700 {
  background-color: #455a64;
}

.blue-grey-800 {
  background-color: #37474f;
}

.blue-grey-900 {
  background-color: #263238;
}

.grey {
  background-color: #9e9e9e;
}

.grey-50 {
  background-color: #fafafa;
}

.grey-100 {
  background-color: #f5f5f5;
}

.grey-200 {
  background-color: #eeeeee;
}

.grey-300 {
  background-color: #e0e0e0;
}

.grey-400 {
  background-color: #bdbdbd;
}

.grey-500 {
  background-color: #9e9e9e;
}

.grey-600 {
  background-color: #757575;
}

.grey-700 {
  background-color: #616161;
}

.grey-800 {
  background-color: #424242;
}

.grey-900 {
  background-color: #212121;
}

.red,
.red-500,
.red-600,
.red-700,
.red-A200,
.red-A400,
.red-A700,
.pink,
.pink-500,
.pink-600,
.pink-A200,
.pink-A400,
.pink-A700,
.purple-300,
.purple-400,
.purple-A200,
.purple-A400,
.purple-A700,
.deep-purple-300,
.deep-purple-400,
.deep-purple-A200,
.indigo-300,
.indigo-400,
.indigo-A200,
.indigo-A400,
.blue,
.blue-500,
.blue-600,
.blue-700,
.blue-A200,
.blue-A400,
.blue-A700,
.light-blue,
.light-blue-500,
.light-blue-600,
.light-blue-700,
.light-blue-800,
.light-blue-A700,
.cyan,
.cyan-500,
.cyan-600,
.cyan-700,
.cyan-800,
.teal,
.teal-500,
.teal-600,
.teal-700,
.green,
.green-500,
.green-600,
.green-700,
.light-green-800,
.light-green-900,
.lime-900,
.orange-800,
.orange-900,
.deep-orange,
.deep-orange-500,
.deep-orange-600,
.deep-orange-700,
.deep-orange-800,
.deep-orange-900,
.deep-orange-A400,
.deep-orange-A700,
.brown-300,
.brown-400,
.blue-grey,
.blue-grey-400,
.blue-grey-500 {
  color: #ffffff;
}

.red-800,
.red-900,
.pink-700,
.pink-800,
.pink-900,
.purple,
.purple-500,
.purple-600,
.purple-700,
.purple-800,
.purple-900,
.deep-purple,
.deep-purple-500,
.deep-purple-600,
.deep-purple-700,
.deep-purple-800,
.deep-purple-900,
.deep-purple-A400,
.deep-purple-A700,
.indigo,
.indigo-500,
.indigo-600,
.indigo-700,
.indigo-800,
.indigo-900,
.indigo-A700,
.blue-800,
.blue-900,
.light-blue-900,
.cyan-900,
.teal-800,
.teal-900,
.green-800,
.green-900,
.brown,
.brown-500,
.brown-600,
.brown-700,
.brown-800,
.brown-900,
.blue-grey-600,
.blue-grey-700,
.blue-grey-800,
.blue-grey-900,
.grey-600,
.grey-700,
.grey-800,
.grey-900 {
  color: rgba(255, 255, 255, 0.87);
}

.orange-A700 {
  color: #000000;
}

.md-list {
  border-radius: 2px;
}

.md-list-item {
  position: relative;
  display: block;
  padding: 16px;
}

.md-list-item:after {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  border-bottom: 1px solid rgba(160, 160, 160, 0.2);
  content: "";
}

.md-list-item:last-child.md-list-item:after {
  border: none;
}

.md-list-item.inset.md-list-item:after {
  left: 72px;
}

.md-list-item-left {
  float: left;
  width: 40px;
  height: 40px;
  margin-right: 16px;
  line-height: 40px;
  text-align: center;
}

.md-list-item-content {
  overflow: hidden;
}

.md-list-item-content h3 {
  margin: 0 0 3px 0;
  font-weight: normal;
}

.md-navbar {
  position: relative;
  z-index: 50;
  min-height: 60px !important;
}

.md-navbar .navbar-header {
  width: auto;
}

.md-navbar .navbar-header > button {
  padding: 15px 18px;
}

.md-navbar .navbar-collapse {
  margin-left: 0;
}

.md-navbar .navbar-brand {
  line-height: 60px;
}

.md-navbar .navbar-nav > li > a {
  padding-top: 20px;
  padding-bottom: 20px;
}

.md-navbar .navbar-btn {
  margin-top: 13px;
  margin-bottom: 13px;
}

.md-navbar .navbar-form-sm {
  margin-top: 15px !important;
  margin-bottom: 15px !important;
}

.md-aside {
  position: relative;
  z-index: 40;
  width: 240px;
  max-width: 240px;
}

.md-content {
  display: block;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}

@media (max-width: 767px) {
  .off-screen.md-content {
    top: 60px;
    z-index: 45;
    max-width: 75%;
  }
  .off-screen.md-content + * {
    z-index: 30;
    padding-top: 60px;
  }
  .off-screen.md-content + * > .md-content {
    overflow: hidden;
  }
}

.md-form-group {
  position: relative;
  padding: 18px 0 24px 0;
}

.md-input {
  position: relative;
  z-index: 5;
  width: 100%;
  height: 34px;
  padding: 2px;
  color: inherit;
  background: transparent;
  border: 0;
  border-bottom: 1px solid rgba(160, 160, 160, 0.2);
  border-radius: 0;
  box-shadow: none;
}

.md-input:focus,
.md-input.focus {
  padding-bottom: 1px;
  border-color: #7266ba;
  border-bottom-width: 2px;
}

.md-input:focus ~ label,
.md-input.focus ~ label {
  top: 0 !important;
  font-size: 0.85em !important;
  color: #7266ba;
  opacity: 1;
}

.float-label .md-input ~ label {
  top: 20px;
  font-size: 1em;
}

.float-label .md-input.ng-dirty ~ label,
.float-label .md-input.has-value ~ label {
  top: 0;
  font-size: 0.85em;
}

.md-input ~ label {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  display: inline-block;
  font-size: 0.85em;
  opacity: 0.5;
  -webkit-transition: all 0.2s;
          transition: all 0.2s;
}

.md-input.disabled,
.md-input[disabled] {
  opacity: 0.5;
}

textarea.md-input {
  height: auto;
}

.md-input-white:focus,
.md-input-white.focus {
  border-color: #fff;
}

.md-input-white:focus ~ label,
.md-input-white.focus ~ label {
  color: #fff;
}

.md-input-msg {
  position: absolute;
  bottom: 0;
  font-size: 0.85em;
  line-height: 24px;
}

.md-input-msg.right {
  right: 0;
}

.md-check {
  position: relative;
  display: inline-block;
  padding-left: 20px;
  margin: 0;
  cursor: pointer;
}

.md-check input {
  position: absolute;
  z-index: 1;
  width: 20px;
  height: 20px;
  margin-left: -20px;
  cursor: pointer;
  opacity: 0;
}

.md-check input:checked + i:before {
  background-color: inherit;
  border-width: 0;
}

.md-check input:checked + span .active {
  display: inherit;
}

.md-check input[type="radio"] + i,
.md-check input[type="radio"] + i:before {
  border-radius: 50%;
}

.md-check input[type="checkbox"]:checked + i:after {
  position: absolute;
  top: 2px;
  left: 6px;
  display: table;
  width: 6px;
  height: 12px;
  border: 2px solid;
  border-top: 0;
  border-left: 0;
  content: ' ';
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}

.md-check input[type="radio"]:checked + i:after {
  position: absolute;
  top: 6px;
  left: 6px;
  display: table;
  width: 6px;
  height: 6px;
  background: #fff;
  border-radius: 50%;
  content: ' ';
}

.md-check input[disabled] + i:before,
fieldset[disabled] .md-check input + i:before {
  border-color: rgba(0, 0, 0, 0.26);
}

.md-check input[disabled]:checked + i:before {
  background-color: rgba(0, 0, 0, 0.26);
}

.md-check > i {
  position: relative;
  display: inline-block;
  width: 0;
  height: 18px;
  margin-top: -2px;
  margin-right: 28px;
  margin-left: -20px;
  line-height: 1;
  vertical-align: middle;
}

.md-check > i:before {
  position: absolute;
  width: 18px;
  height: 100%;
  border: 2px solid rgba(0, 0, 0, 0.54);
  border-radius: 2px;
  content: "";
  -webkit-transition: all 0.2s;
          transition: all 0.2s;
}

.md-check > i.no-icon:after {
  display: none !important;
}

.md-switch {
  min-height: 20px;
  padding-left: 36px;
  margin: 0;
  cursor: pointer;
}

.md-switch input {
  position: absolute;
  z-index: 1;
  width: 36px;
  height: 20px;
  margin-left: -36px;
  cursor: pointer;
  opacity: 0;
  filter: alpha(opacity=0);
}

.md-switch input:checked + i:before {
  background: inherit;
  opacity: 0.5;
}

.md-switch input:checked + i:after {
  left: 16px;
  background: inherit;
}

.md-switch input[disabled] + i:before,
fieldset[disabled] .md-switch input + i:before {
  background-color: rgba(0, 0, 0, 0.12);
}

.md-switch input[disabled] + i:after,
fieldset[disabled] .md-switch input + i:after {
  background-color: #bdbdbd;
}

.md-switch i {
  position: relative;
  display: inline-block;
  width: 0;
  height: 18px;
  margin-top: -2px;
  margin-right: 44px;
  margin-left: -36px;
  line-height: 1;
  vertical-align: middle;
}

.md-switch i:before {
  position: absolute;
  top: 3px;
  left: 1px;
  width: 34px;
  height: 14px;
  background-color: #9e9e9e;
  border-radius: 8px;
  content: "";
  -webkit-transition: all 0.2s;
          transition: all 0.2s;
}

.md-switch i:after {
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  margin: 0;
  background-color: #fff;
  border-radius: 50%;
  content: "";
  outline: none;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
  -webkit-transition: all 0.2s;
          transition: all 0.2s;
}

.md-whiteframe-z0 {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15);
}

.md-whiteframe-z1 {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
}

.md-whiteframe-z2 {
  box-shadow: 0 8px 17px rgba(0, 0, 0, 0.2);
}

.md-whiteframe-z3 {
  box-shadow: 0 17px 50px rgba(0, 0, 0, 0.19);
}

.md-whiteframe-z4 {
  box-shadow: 0 16px 28px 0 rgba(0, 0, 0, 0.22);
}

.md-whiteframe-z5 {
  box-shadow: 0 27px 24px 0 rgba(0, 0, 0, 0.2);
}